<!-- This is the code to display flash messages for the wtforms validators -->

{% if form.errors %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {% for error in form.errors %}
  <strong>There is an issue with this field:</strong> {{ error }} <br>
  {% endfor %}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

{% extends "base.html" %}
{% block content %}

<!-- This is the code to display the add device form -->
<div class="jumbotron">
  <h1>Have a device that needs to be added?</h1>
  <p>Add a new device with the form below.</p>

  <form method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}

    <table>
      <tr>
        <td>{{ form.hostname.label }}</td>
        <td>{{ form.hostname(placeholder='MIK2.LondonSW') }}</td>
      </tr>
        <tr>
        <td>{{ form.nasid.label }}</td>
        <td>{{ form.nasid(placeholder='NASID12345') }}</td>
      </tr>
      <tr>
        <td>{{ form.ip.label }}</td>
        <td>{{ form.ip(placeholder='192.168.0.11') }}</td>
      </tr>
      <tr>
        <td>{{ form.gateway.label }}</td>
        <td>{{ form.gateway(placeholder='192.168.0.1') }}</td>
      </tr>
      <tr>
        <td>{{ form.wan.label }}</td>
        <td>{{ form.wan(placeholder='35.12.75.128/30') }}</td>
      </tr>
      <tr>
        <td>{{ form.location.label }}</td>
        <td>{{ form.location(placeholder='LondonSW') }}</td>
      </tr>
      <tr>
        <td></td>
        <td>{{ form.submit() }}</td>
      </tr>
    </table>

  </form>

</div>



{% endblock %}



