{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Here is a list of all available devices.</h1>
 <hr>
 <p>You've got X device offlien and Y device online</p>
<!--
<table id="devices-list-table" class="table table-sm table-hover" >
-->

</div>
<div>

  <table id="devices-list-table" class="display compact " style="width:100%">
        <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">ON/OFF</th>
              <th scope="col">Hostname</th>
              <th scope="col">NASID</th>
              <th scope="col">IP Address</th>
              <th scope="col">IP Gateway</th>
              <th scope="col">WAN IP</th>
              <th scope="col">Location</th>
              <th scope="col">OS</th>
              <th scope="col">Operations</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
          {% for device in devices %}
          <tr>
            <th scope="row">{{ device.id }}</th>
            <td><span class="badge badge-pill badge-success">Online</span></td>
            <td>{{ device.hostname }}</td>
            <td>{{ device.nasid }}</td>
            <td>{{ device.ip }}</td>
            <td>{{ device.gateway }}</td>
            <td>{{ device.wan }}</td>
            <td>{{ device.location }}</td>
            <td>6.43</td>
            <td><a class="btn btn-outline-primary btn-sm" href="#" role="button">Ops Page</a></td>
            <td><a class="btn btn-outline-warning btn-sm" href="{{ url_for('devices.update', device_id=device.id) }}" role="button">Edit</a></td>
            <td><button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#del_modal{{ device.id }}">Delete</button></td>
          </tr>

  <!-- Modal for Pop Up-->

  {# https://getbootstrap.com/docs/4.1/components/modal/ #}
  {# Notice how the link with the id to the button above! #}
  <div class="modal" tabindex="-1" role="dialog" id="del_modal{{ device.id }}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Device</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this device?</p>
          <p>Device id: {{ device.id }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

          <form action="{{ url_for('devices.delete_device', device_id=device.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>


          {% endfor %}
        </tbody>
</table>
</div>

<script>
$(document).ready(function() {
    $('#devices-list-table').DataTable();
} );
</script>






{% endblock %}


